doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home Page
    Link(rel="stylesheet" href="/css/home.css")     
  body
    h1 Welcome to Happy Hoe Grocery!
    p We're glad to have you here.
    a(href="/login-page") Login

