doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title salesagent page
    link(rel="stylesheet", href="assets/css/manager-dashboard.css")
  body
    h1 salesagent Dashboard!
    p We&apos;re glad to have you here.
    a(href="/all-users-page") See All sales
    a(href="/all-stock-page") Creditsales
    a(href="/add-stock-page") Add New sales
    a(href="/logout") Logout
