<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HHG Grocery store Report</title>
    <link rel="stylesheet" href="assests/css/report.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>HHG Grocery Store Sales Report</h1>
            <p>Date: <span id="report-date">2024-09-10</span></p>
        </header>

        <section class="store-details">
            <h2>Store Information</h2>
            <p><strong>Store Name:</strong> HHG Grocery</p>
            <p><strong>Location:</strong> Matuuga</p>
        </section>

        <section class="sales-summary">
            <h2>Sales Summary</h2>
            <table>
                <thead>
                    <tr>
                        <th>ProduceName</th>
                        <th>produceType</th>
                        <th>Quantity Sold(Tounes)</th>
                        <th>Total Sales (Ugx)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>maize</td>
                        <td>cereals</td>
                        <td>150</td>
                        <td>3000000</td>
                    </tr>
                    <tr>
                        <td>Cowpeas</td>
                        <td>cereals</td>
                        <td>100</td>
                        <td>1500000</td>
                    </tr>
                    <tr>
                        <td>Beans</td>
                        <td>cereals</td>
                        <td>120</td>
                        <td>240000o</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="total-summary">
            <h2>Total Summary</h2>
            <p><strong>Total Quantity Sold:</strong> 370</p>
            <p><strong>Total Sales:</strong> 6900000</p>
        </section>
    </div>
</body>

</html>