<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock List</title>
    <link rel="stylesheet" href="assets/css/stocklist.css">
</head>

<body>
    <div class="container">
        <h1>Stock List</h1>
        <table>
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Supplier Name</th>
                    <th>Quantity</th>
                    <th>Cost Per kg</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>101</td>
                    <td>Beans</td>
                    <td>Matuuga Farms</td>
                    <td>100</td>
                    <td>5000ugx</td>
                    <td>5ooooougx</td>
                </tr>
                
                <tr>
                    <td>102</td>
                    <td>Rice</td>
                    <td>Maganjo Farm</td>
                    <td>150</td>
                    <td>4000ugx</td>
                    <td>600000ugx</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Soybeans</td>
                    <td>Individual dealers</td>
                    <td>9000</td>
                    <td>6000ugx</td>
                    <td>5400000ugx</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>G-nuts</td>
                    <td>Other companies</td>
                    <td>9500</td>
                    <td>7000ugx</td>
                    <td>66500000ugx</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>